<section class="error">
  <h1 class="error__desc">{{statusCode}}. <span class="error__msg">{{errorMessage}}</span></h1>
  <img class="error__image" src="/images/pluto_error.jpg" alt="Pluto not found">
</section>
