<section class="home">
  <h1>Welcome to Myspace</h1>
  <h3>How far are you willing to go?</h3>

  <div class="distances">
  <ul id="distance-list" class="distance__content">
    <li><button class="distance-li__link" name="distance" value="5" onclick="window.location.href='/results/5'">5au</button></li>
    <li><button class="distance-li__link" name="distance" value="10" onclick="window.location.href='/results/10'">10au</button></li>
    <li><button class="distance-li__link" name="distance" value="15" onclick="window.location.href='/results/15'">15au</button></li>
    <li><button class="distance-li__link" name="distance" value="20" onclick="window.location.href='/results/20'">20au</button></li>
    <li><button class="distance-li__link" name="distance" value="25" onclick="window.location.href='/results/25'">25au</button></li>
    <li><button class="distance-li__link" name="distance" value="30" onclick="window.location.href='/results/30'">30au</button></li>
    <li><button class="distance-li__link" name="distance" value="all" onclick="window.location.href='/results/all'">All</button></li>
  </ul>
</div>

</section>
